
@media(mix-width:320px) {
    .heading{
        font-size: 20px;
    }
}

@media(min-width:430px){
    .heading{
        font-size: 40px;
    }
}

@media(min-width:1024){
    .heading{
        font-size: 50px;
    }
}

