
body{
     background-image: url(background.jpg);
     background-repeat: no-repeat;
     background-size:500px;
     background-position: 400px;
     background-color: blueviolet;
     border: 4px solid red;
}


table,th,td{
    border: 1px solid red;
    border-collapse: collapse;
}


   h1,h3{
        border: 5px solid black;
        border-radius: 15px;
    }
    h1{
     opacity: 80%;
    }

   .heading{
        color:brown;
        font-size: 70px;
        margin-left: 400px;
        opacity: 50%;
   }
   .heading2{
        color:blueviolet;
        font-size: 30px;
        background-color: antiquewhite;
        border: 3px solid black;
   }
   .heading3{
        color: green;
        background-color: aliceblue;
        border: 3px solid black;
   }
   .tb{
    color:greenyellow; 
   }
   .pn{
    color: blue;
    font-size: 40;
    background-color: bisque;
    border: 3px solid black;
   }
